<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href="static/css/style.css">
</head>
<body>
    <h1>Hello
        {% if request.session.user %}
            {{request.session.user}}
            <a href="logout">Logout</a>
        {% endif %}
    </h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="class"/></br>
        <input type="text" name="description"/></br>
        <button type="submit"> Save Data</button>
    </form>

    {% if data %}
    <table border="1">
        <tr>
            <th>Class</th>
            <th>Descriptiion</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.name}}</td>
            <td>{{ i.descrption}}</td>
        </tr>
        {%endfor%}
    </table>
    {% endif %}
</body>
</html>