{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HMS | Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center alert alert-danger"> Hospital Management System</h1>
            {% block content %} 
            
            {% endblock content%}
        </div>
        <script src="{% static 'js/jquery.js'%}"></script>
        <script src="{% static 'js/popper.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        
    </body>
</html>